
<h2 style="font-family: Arial, Helvetica, sans-serif;">Where to Find Us?</h2>
<img style="width: 50%;" src="../assets/images/10.png">
<h2 style="font-family: Arial, Helvetica, sans-serif;">For more information, Follow us on our Social Media Account</h2>

<div class="row">
    <div class="column">
        <a href="https://www.facebook.com/UNIQLO.PH/">
      <img src="../assets/images/fb.png" alt="Snow" style="width:30%"></a>
    </div>
    <div class="column">
        <a href="https://www.instagram.com/uniqlophofficial/?hl=en">
      <img src="../assets/images/ig.png" alt="Forest" style="width:30%"></a>
    </div>
    <div class="column">
        <a href="https://twitter.com/UNIQLOPH?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor">
      <img src="../assets/images/twitter.png" alt="Mountains" style="width:30%"></a>
    </div>
  </div>

