<section id="partnersmenu">
  <h2 style="text-align: center;font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;"><b>Below are our Corporate Partners</b></h2>
  <table>
    <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">Company</th>
            <th scope="col">Trademark</th>
            <th scope="col">Sponsorship</th>
            <th scope="col">Go to Website</th>
          </tr>
        </thead>
        <tbody>
          <tr id="micro">
            <th>Microsoft</th>
            <td><img src="../assets/images/microsoft.png"   style="width: 100px; height: 100px;"></td>
            <td>Platinum</td>
            <td><a href="https://www.microsoft.com/en-ph" class="">View Website</a></td>
          </tr>
          <tr>
            <th >Apple, Inc.</th>
            <td><img src="../assets/images/apple.png"   style="width: 100px; height: 100px;;"></td>
            <td>Gold</td>
            <td><a href="https://www.apple.com/ph/?afid=p238%7Cs7yabjj45-dc_mtid_18707vxu38484_pcrid_569921235285_pgrid_16280229612_&cid=aos-ph-kwgo-brand--slid---product--" class="">View Website</a></td>
          </tr>
          <tr id="amaz">
            <th>Amazon</th>
            <td><img src="../assets/images/amazon.png"  style="width: 100px; height: 100px;"></td>
            <td>Silver</td>
            <td><a href="https://www.amazon.com/" class="">View Website</a></td>
          </tr>
          <tr>
            <th>Google,Inc.</th>
            <td><img src="../assets/images/google.png" style="width: 100px; height: 100px;"></td>
            <td>Bronze</td>
            <td><a href="https://www.google.com/" class="">View Website</a></td>
          </tr>
        </tbody>
      </table>


  </table>








</section>