<br>
<h1 style="font-family: Arial, Helvetica, sans-serif;">
    ABOUT UNIQLO
</h1>

<div>
<h2 style="font-family: Arial, Helvetica, sans-serif;">UNIQLO is a clothing apparel company, which was originally founded in Yamaguchi,<br>Japan in 1949 as a textiles manufacturer.
Now it is a global brand with over 1000 <br>stores around the world. Redefining clothing, with a focus on quality and textiles <br>which has been unwavered since the company’s origins in 1949.</h2>
<h2 style="font-family: Arial, Helvetica, sans-serif;">Uniqlo is a Japanese casual wear clothing store and brand that has gained international<br> fame. The affordable, basic designs are a hit with almost everyone, and partnerships with<br> popular character licensors like Disney keep customers coming back for more. What’s<br> the story behind the store? 

</h2>
<img style="float: right; height: 5in; width: 5in; margin-top:-280px;margin-right: 20px;" src="../assets/images/logo.png">
</div>