<br>
<h2>Skills & Education</h2>
<br>
    <h4>Primary</h4>
    <p>Sto. Rosario Elementary School </p>                      
    <p>Angeles City</p>  
    <p>A.Y 2006 - 2013  </p>  
    
    <br>

    <h4>Secondary</h4>
    <p> Holy Angel University </p>
    <p>Angeles City</p>
    <p>A.Y 2013 - 2019</p>
    
    <br>
    
    <h4>College</h4>
    <p>Holy Angel University </p>
    <p>Angeles City</p>
    <p>A.Y 2019 - Present</p>
    
    <br>

    <h4>Skills</h4>
    <p>HTML</p>
    <p>CSS</p>
    <p>Java</p>
    <p>JavaScript</p>
    <p>PHP</p>
    <p>Python</p>
