<link rel="stylesheet" href="../home/home.component.css"> 
<section id="homemenu">

  <div id="cover" style="background-image: url(../assets/images/photo.jpg); height: 80vh; background-repeat: no-repeat; background-size: cover;">
    
    <h1 style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; text-align: center; padding-top: 200px;"><b>Research Conferences</b></h1>
    <h2 style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; text-align: center;"><b>Join our online events this 2021!</b></h2>

    <button type="button" class="btn btn-outline-dark" style="margin-left: 45%;margin-top: 30px;;">Early Bird Registration</button>
  </div>

  <div>
      <h2 style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; text-align: center; margin-top: 40px;;"><b>Join our Research Conferences around the Globe!</b></h2>
        <table style="margin-left: auto;margin-right: auto;">
            <tr>
                <td>
                    <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="../assets/images/france.jpg" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title">France</h5>
                      <p class="card-text">The largest country in Western Europe; has long been a gateway between the continent's northern and souther regions.</p>
                      <hr>
                      <p>Architecture and Fine Arts</p>
                      <hr>
                      <p>Cultural Events</p>
                      <hr>
                      <p>Safety and Security</p>
                      <a href="https://www.britannica.com/place/France" class="btn btn-primary">Learn more</a>
                    </div>
                  </div>
                </td>
                <td>
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src="../assets/images/seoul1.jpg" alt="Card image cap">
                        <div class="card-body">
                          <h5 class="card-title">Seoul</h5>
                          <p class="card-text">Korean Soul, formally Soul-t'ukpyolsi ("Special City of Seoul"), city and capital of South Korea (the Republic of Korea).</p>
                          <hr>
                          <p>Humanities and Arts</p>
                          <hr>
                          <p>Cultural Events</p>
                          <hr>
                          <p>Safety and Security</p>
                          <a href="https://www.britannica.com/place/Seoul" class="btn btn-primary">Learn more</a>
                        </div>
                      </div>
                </td>
                <td>
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src="../assets/images/sanfrancisco1.jfif" alt="Card image cap">
                        <div class="card-body">
                          <h5 class="card-title">San Francisco</h5>
                          <p class="card-text">It is a cultural and financial centre of the western United States and one of the country's most cosmopolitan cities.</p>
                          <hr>
                          <p>Science and Technology</p>
                          <hr>
                          <p>Cultural Events</p>
                          <hr>
                          <p>Safety and Security</p>
                          <a href="https://www.britannica.com/place/San-Francisco-California" class="btn btn-primary">Learn more</a>
                        </div>
                      </div>
                </td>
                <td>
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src="../assets/images/boston.jpg" alt="Card image cap">
                        <div class="card-body">
                          <h5 class="card-title">Boston</h5>
                          <p class="card-text">Best known for its famous baked beans, Fenway Park, The Boston Marathon, and of course for the bar from Cheers</p>
                          <hr>
                          <p>Engineering and Tech</p>
                          <hr>
                          <p>Cultural Events</p>
                          <hr>
                          <p>Safety and Security</p>
                          <a href="https://www.britannica.com/place/Boston" class="btn btn-primary">Learn more</a>
                        </div>
                      </div>
                </td>
            </tr>
        </table>
    </div>
  </section>