<section id="joinusmenu">
<h2 style="text-align: center;">
    Fill the form below : 
    <br>
</h2>
<div style="margin-left:30%">
    <form>
        <label>First name: </label>
        <input type="text" #fnameinput placeholder="First Name" (input)=getFname(fnameinput.value)/>

        &nbsp;<label>Last name: </label>
        <input type="text" #lnameinput placeholder="Last Name" (input)=getLname(lnameinput.value)/>
        <p>Fullname: {{ Fname }} {{Lname}}</p>
        
        <label>Enter Email Address: </label>
        <input type="text" #emailinput placeholder="Email" (input)=getEmail(emailinput.value)/>
        <p>Email: {{ Email }}</p>

        <label>Enter Institution/Affiliation:</label>
        <input type="text" #schoolinput placeholder="Institution" (input)=getSchool(schoolinput.value)/>
        <p>Academic Institutions: {{ School }}</p>
      </form>
</div>
</section>