<link rel="stylesheet" href="..//product/product.component.css">
<h1 style="font-family: Arial, Helvetica, sans-serif;"><b>List of Products</b></h1>
<h2 style="font-family: Arial, Helvetica, sans-serif;">Men</h2>

<div class="row">
    <div class="column">
      <img src="../assets/images/1.webp" alt="Snow" style="width:100%">
    </div>
    <div class="column">
      <img src="../assets/images/2.webp" alt="Forest" style="width:100%">
    </div>
    <div class="column">
      <img src="../assets/images/3.webp" alt="Mountains" style="width:100%">
    </div>
  </div>
  <h2 style="font-family: Arial, Helvetica, sans-serif;">Women</h2>
  <div class="row">
    <div class="column">
      <img src="../assets/images/4.webp" alt="Snow" style="width:100%">
    </div>
    <div class="column">
      <img src="../assets/images/5.webp" alt="Forest" style="width:100%">
    </div>
    <div class="column">
      <img src="../assets/images/6.webp" alt="Mountains" style="width:100%">
    </div>
  </div>
